var webpack = require("webpack");
var loaders = [{
  test: /\.js$/,
  exclude: /(node_modules)/,
  loader: "babel",
  query: {
    cacheDirectory: true,
    blacklist: ["useStrict"],
    presets: ["es2015", "stage-0", "react"]
  }
}, {
  test: /\.s?css$/,
  loader: "style?singleton!css!autoprefixer-loader?browsers=last 2 version!sass"
}, {
  test: /\.(gif|png)$/,
  loader: "url?limit=10000&minetype=image/gif&name=/[path][name].[ext]&context=public"
}];

module.exports = {
  options: {
    debug: true,
    cache: true,
    stats: {
      colors: true,
      reasons: true
    },
    module: {
      loaders: loaders
    },
    entry: ['webpack/hot/dev-server',path.resolve(__dirname, 'lib/index.js')],
    output: {
      path: "./build",
      filename: "slider.bundle.js"
    }
}
